/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 359;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 47%, 40%);
    --first-color-second: hsl(var(--hue-color), 47%, 40%);
    --first-color-alt: hsl(var(--hue-color), 47%, 20%);
    --first-color-lighter: hsl(var(--hue-color), 70%, 64%);
    --title-color: var(--container-color);
    --text-color: var(--first-color);
    --text-color-light: #fff;
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: var(--container-color);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    padding-top: var(--header-height); /* Add this line */
}

h1,
h2 {
    font-weight: var(--font-bold);
}

h3,
h4 {
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    /*max-width: 100%;*/
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    padding-left: var(--mb-1-5);
    padding-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    display: sticky;
}

/*==================== NAV ====================*/
.nav {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-light);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
}

.nav__logo {
    color: var(--container-color);
    font-weight: var(--font-bold);
}

.nav__toggle {
    color: var(--container-color);
}

.nav__logo:hover {
    color: var(--first-color-alt);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--container-color);
    font-weight: var(--font-light);
    position: relative;
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent 0%,
        var(--container-color) 100%
    );
    transition: width 0.3s ease; /* Add transition for a smooth effect */
}

.nav__link:hover::before {
    width: 100%;
}

.nav__link:hover {
    font-weight: bold;
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

.nav__color {
    transition: all 200ms;
    background-color: var(--first-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0); /* Adjust the shadow properties as needed */
}

/* show menu */
.show-menu {
    bottom: 0;
}

/* Active link */
.active-link {
    font-weight: bold;
}

/*==================== HOME ====================*/
.home.section {
    padding-top: 0;
}

.home__container {
    gap: 1rem;
    background: url(../img/bg/600ppi/Back_Sky.png) center/cover no-repeat;
    height: 100vh;
    max-height: 750px;
    margin-top: -3rem;
    background-size: cover; /* This will make the background image cover the entire container */
    overflow: hidden; /* Hide any content that overflows the container */
}

.home__content {
    position: relative;
    padding-top: 2rem;
    align-items: center;
    color: var(--text-color-light);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
}

.home__parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Relative width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    z-index: 0;
}

#front-mountains {
    position: relative; /* Change to relative positioning */
    width: 100rem;
    transform: translate(-30%, -30%); /* Adjust to center the element */
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--z-tooltip);
}

.home__title {
    font-size: var(--big-font-size);
    text-align: center;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    text-align: center;
    margin-bottom: var(--mb-2);
    margin-top: var(--mb-1);
    font-weight: var(--font-light);
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--first-color);
    transition: 0.3s;
}

.home__scroll-button:hover {
    transform: translateY(0.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

/*==================== ABOUT ====================*/

.about__container {
    max-width: 1080px;
    padding: 0 5rem 0 5rem;
    text-align: center;
}

.about__video {
    align-self: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.about__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

.about__intro {
    margin-bottom: 3rem;
}

.about__scholarship {
    justify-content: center;
}

.about__inclusion {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 300px;
    border-radius: 10px; /* Adjust as needed */
    background-color: var(--first-color);
    color: var(--container-color);
    position: relative; /* Create a relative positioning context */
}

.about__circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--container-color);
    color: var(--first-color);
    border: 10px solid var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Make the circle positioned absolutely */
    top: -40px; /* Shift the circle upwards by half its height */
    left: 50%;
    transform: translateX(-50%); /* Center the circle horizontally */
    z-index: 1; /* Make sure the circle is on top of the text */
}

.about__text {
    padding-top: 1.5rem;
}

/*==================== ALUMNI ====================*/
.alumni__container {
    overflow: initial;
}

.alumni__content {
    padding: 0 1.5rem;
}

.alumni__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.alumni__img {
    width: 265px;
    border-radius: 0.5rem;
    justify-self: center;
}

.alumni__description {
    margin-bottom: var(--mb-0-75);
}

.alumni__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-alumni-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -0.5rem;
}

.swiper-button-next {
    right: -0.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*==================== FOOTER ====================*/
.footer {
    text-align: center;
    padding-top: 2rem;
}

.footer__container {
    row-gap: 1rem;
}

.footer__bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__socials {
    font-size: 1.25rem;
    /* margin-right: var(--mb-1-5); */
    display: inline-block;
}

.footer__social:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-top: var(--mb-1);
}

.footer__title,
.footer__subtitle,
.footer__social,
.footer__copy {
    color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .change-theme {
        margin: 0;
    }

    .home__content {
        position: relative;
        padding-top: 13.5rem;
        align-items: center;
    }

    .home__scroll {
        display: block;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }

    #front-mountains {
        width: 100rem;
        transform: translate(-30%, -30%);
    }

    .about__scholarship {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0rem;
        column-gap: 2rem;
    }

    @media screen and (min-width: 900px) {
        .about__intro {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5rem;
        }
        .about__img {
            width: 350px;
        }
    }
}

/* For large devices */
@media screen and (min-width: 1100px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .home__content {
        position: relative;
        padding-top: 11rem;
        align-items: center;
    }

    #front-mountains {
        width: 150rem;
        transform: translate(-30%, -35%);
    }
}

/* For larger devices like iMac*/
@media screen and (min-width: 1560px) {
    #front-mountains {
        width: 180rem;
        transform: translate(-30%, -35%);
    }
}

/* For larger devices like iMac*/
@media screen and (min-width: 2040px) {
    #front-mountains {
        width: 200rem;
        transform: translate(-30%, -35%);
    }
}
